@media screen and (max-width: 768px) {
  .homePage {
    background: url("../../assets/img/home/background-home-mobile.jpg")
      no-repeat center center/cover;
  }
}

@media screen and (max-width: 1280px) {
  .homePage {
    background: url("../../assets/img/home/background-home-tablet.jpg")
      no-repeat center center/cover;
  }
}

@media screen and (min-width: 1281px) {
  .homePage {
    background: url("../../assets/img/home/background-home-desktop.jpg")
      no-repeat center center/cover;
  }
}
